logging:
  level:
    root: INFO
    org.mcdse105: TRACE

server:
  port: 8080

spring:
  application:
    name: assignment1

  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    url: jdbc:mysql://localhost:3306/mcdse105
    username: root
    password:
    driverClassName: com.mysql.cj.jdbc.Driver

  jpa:
    open-in-view: false
    hibernate:
      dialect: org.hibernate.community.dialect.MySQLDialect
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true

  liquibase:
    changeLog: classpath:db/db.changelog-master.yml